form input {
	text-align: center;
	padding: 10px 0;
	background: #ebebeb;
	border: transparent;
	border: 0.3px solid #ccc;
	outline: none;
}
form input[type=text] {
	width: 40%;
}
form input[type=number] {
	width: 30%;
}
form input[type=submit] {
	width: 30%;
	background: #2ebaee;
	cursor: pointer;
	color: #fff;
	border: 0.3px solid #2ebaee;
	outline: none;
}
